ul {
  margin-top: 0px;
  margin-right: 0%;
  margin-bottom: 0px;
}

.nav-item {
  display: inline-block;
  padding: 13px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #4fab53;
}

.navigator {
  background-color: #c4da87;
  text-align: right;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
}

li:hover {
  background: #61ce5a;
}
