.chapter {
  border: 1px;
  border-style: ridge;
  border-color: #dddddd;
  background-color: ghostwhite;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 24px;
  width: 80%;
  text-align: left;
  color: #00747a;
  text-transform: uppercase;
}

.chapter:hover {
  background-color: #eee;
  text-decoration-line: underline;
}

.chapter_content {
  border: 1px;
  border-color: #dddddd;
  border-top-style: hidden;
  background-color: ghostwhite;
  padding: 10px;
  margin: 0 auto;
  display: none;
  overflow: hidden;
  border-style: ridge;
  width: 80%;
}

.close_chapter {
  border-style: hidden;
  background-color: #ddd;
  padding: 10px;
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
  width: 98%;
  text-align: center;
  color: #00747a;
}

.close_chapter:hover {
  background-color: #eee;
  text-decoration-line: underline;
}