.header {
  background-color: #86b300 ;
  margin-bottom: 0px;
  width: 80%;
  margin: 0 auto;
  color: aliceblue;
  padding: 10px 0px;
}

.head_cont {
  margin: 0px 10px
}


.def_content {
  margin-top: 0px;
  background-color: #f2ffcc;
  margin-bottom: 10px;
  width: 80%;
  margin: 0 auto;
  padding: 25px 0px;
}

.def_text {
  margin: 0px 15px;
}