.theo_header {
  background-color: #737373;
  margin-bottom: 0px;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  color: aliceblue;
  padding: 10px;
}

.theo_head_cont {
  margin: 0px 10px;
  text-transform: uppercase;
}

.theo_content {
  margin-top: 0px;
  background-color: #cccccc;
  margin-bottom: 10px;
  width: 95%;
  margin: 0 auto;
  padding: 25px 10px;
}

.theo_text {
  margin: 0px 15px;
}

.theo_rationalization {
  margin-top: 0px;
  background-color: #E6E6E6;
  margin-bottom: 10px;
  width: 95%;
  margin: 0 auto;
  padding: 25px 10px;
}
.image {
  max-width: 100%;
  width: 40%;
  margin: 1% 1%;
}
