@import './_fixtures.scss';
$primary-color: #c4da87;
$secondary-color: #4fab53;

body {
  font-family: 'Roboto', sans-serif;
}

span {
  display: inline;
  padding-left: 1px;
}

header {
  background-color: #f6f6f6;
  height: 160px;
  box-shadow: 0px 4px 0px 0px #666666;
}

ul {
  padding-left: 2%;
  margin-top: 0px;
  margin-right: 0%;
  margin-bottom: 0px;
}

.white-link {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
}

.app {
  background-color: white;
  min-height: 100vh;
}

.course {
  display: inline-table;
  padding: 0px;
  width: 250px;
  height: 250px;
  margin: 10px;
  background: $primary-color;
  text-align: left;
  min-height: 250px;
  border-radius: 10px;
  list-style-type: decimal;

  &-version {
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    text-shadow: 1px 1px 2px black;
  }

  &-content {
    text-transform: none;
    width: 80%;
  }

  &-container {
    min-height: 100vh;
    margin-bottom: 100px;
  }

  &-container {
    min-height: 100vh;
    margin-bottom: 100px;
  }

  &-title {
    color: white;
    background: $greenColor;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    height: 60px;
    padding: 20px;
  }

  &-title:hover {
    background-color: #36823a;
  }

  &-parts {
    margin-top: 0px;
    margin-bottom: 0px;
    color: $greenColor;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }

  &-content:hover {
    background: #fff6a6;
  }
}

.frontPageContainer {
  min-height: 100vh;
  margin-bottom: 50px;
}

.coursePageContainer {
  min-height: 100vh;
  margin-bottom: 50px;
}

.courseAdministrationPageContainer {
  min-height: 100vh;
  margin-bottom: 50px;

  &-heading {
    margin-left: 9%;
    margin-right: 9%;
  }
}

.infoPageContainer {
  min-height: 100vh;
  margin-bottom: 50px;

  &-heading {
    margin-left: 9%;
    margin-right: 9%;
  }

  &-subheading {
    font-weight: normal;
    text-transform: uppercase;
  }

  &-list {
    list-style-type: circle;
    padding-left: 1%;
  }
}

.course-list {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.userCourseListPage {
  &-header {
    overflow: auto;
    border: 1px;
    border-style: ridge;
    border-color: #dddddd;
    background-color: ghostwhite;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 24px;
    width: 80%;
    text-align: left;
    color: #00747a;
    text-transform: uppercase;
  }
  &-button {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #4343ff;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    font-size: 15px;
  }
  &-date {
    padding-right: 2%;
    color: gray;
    float: left;
    width: 20%;
  }
  &-key {
    padding-left: 2%;
    padding-right: 2%;
    color: black;
    margin: 5px;
    float: right;
    text-transform: lowercase;
  }

  &-text {
    padding-right: 2%;
    float: left;
    width: 20%;
  }
  &-enter {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: gray;
    font-size: 15px;
    width: 30%;
  }

  &:hover {
    background-color: ghostwhite;
  }
}

.hero {
  margin-bottom: 50px;

  &-content {
    text-align: center;
    font-size: 25px;
    border-radius: 22px;
    padding: 10px;
    background: $greenColor;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-left: 25%;
    width: 50%;
    position: absolute;
    top: 200px;
  }

  &-logo {
    position: absolute;
    margin-top: -45px;
    width: 300px;
    cursor: pointer;
  }
}

.katex {
  font: normal 1.21em KaTeX_Main, Times New Roman, serif;
  line-height: 1.2;
  white-space: nowrap;
  text-indent: 0;
  text-rendering: auto;
  font-size: 25px;
}

.navigator {
  background-color: $primary-color;
  text-align: right;

  &-item {
    display: inline-block;
    padding: 13px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: $greenColor;
  }

  &-item:hover {
    background-color: #3d7b40;
  }

  &-link {
    margin: -15px;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase;
  }
}
.navigatorBottom {
  background-color: #acd24a;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  border: 1px solid black;

  &-item {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &-scroll-up {
    padding: 2px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 10%;
    background-color: #4fab53;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 180%;
  }
}

.footer {
  background: $primary-color;
  display: flex;
  padding: 20px;
  height: 300px;
  position: static;
  bottom: 0;

  .fb-link {
    position: relative;
    top: -32px;
    left: 45px;
    border-bottom: 1px dotted #aaa;
  }

  .link {
    color: $greenColor;
    text-transform: none;
    text-shadow: none;
    margin-left: 5px;
  }

  .footer-div {
    width: 33%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer-contact-div {
    width: 33%;
    padding-left: 5%;
    padding-right: 5%;
    border-left: 2px solid #66666626;
    border-right: 2px solid #66666626;
  }
}

.close-chapter {
  border-style: hidden;
  background-color: #ddd;
  padding: 10px;
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
  width: 98%;
  text-align: center;
  color: #00747a;

  &:hover {
    background-color: #eee;
    text-decoration-line: underline;
  }
}

.definition-header {
  background-color: #86b300;
  margin-bottom: 0px;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  color: aliceblue;
  padding: 10px;
}

.definition-header-content {
  margin: 0px 10px;
  text-transform: uppercase;
}

.definition-content {
  margin-top: 0px;
  background-color: #f2ffcc;
  margin-bottom: 10px;
  width: 95%;
  margin: 0 auto;
  padding: 25px 10px;
}

.definition-text {
  margin: 0px 15px;
}

.exercise {
  border: 1px;
  border-style: ridge;
  border-color: #dddddd;
  background-color: whitesmoke;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 24px;
  width: 95%;
  text-align: left;
  color: #111;
  text-transform: uppercase;

  &:hover {
    background-color: rgb(196, 196, 196);
    text-decoration-line: underline;
  }
}

.exercise-content {
  border: 1px;
  border-color: #dddddd;
  border-top-style: hidden;
  background-color: ghostwhite;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  border-style: ridge;
  width: 95%;
  &-hidden {
    display: none;
  }
}

.exercise-answer {
  display: inline-block;
  color: #00747a;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover {
    background-color: #d5eff0;
    text-decoration-line: underline;
  }
}

.exercise-answer-content {
  &-hidden {
    display: none;
  }
}

.containerwrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.section {
  background-color: #a8bb73;
  color: #fff;
  font-size: 20px;
  padding: 10px 15px;
  text-shadow: 1px 1px 1px #005357;
  display: inline-table;
  cursor: pointer;
  margin-right: 6px;
  margin-top: 10px;

  &-active {
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    text-shadow: 1px 1px 1px #005357;
    display: inline-table;
    /* text-align: center; */
    /* margin: 0 auto; */
    margin-right: 6px;
    background-color: #30a491;
  }
  &:hover {
    background-color: #00747a;
    text-decoration-line: underline;
  }
}

.theorem-header {
  background-color: #737373;
  margin-bottom: 0px;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  color: aliceblue;
  padding: 10px;
}

.theorem-header-content {
  margin: 0px 10px;
  text-transform: uppercase;
}

.theorem-content {
  margin-top: 0px;
  background-color: #cccccc;
  margin-bottom: 10px;
  width: 95%;
  margin: 0 auto;
  padding: 25px 10px;
}

.theorem-text {
  margin: 0px 15px;
}

.theorem-rationalization {
  margin-top: 0px;
  background-color: #e6e6e6;
  margin-bottom: 10px;
  width: 95%;
  margin: 0 auto;
  padding: 25px 10px;
}
.image {
  max-width: 100%;
  width: 40%;
  margin: 1% 1%;
}

.chapter {
  overflow: auto;
  border: 1px;
  border-style: ridge;
  border-color: #dddddd;
  background-color: ghostwhite;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 24px;
  width: 80%;
  text-align: left;
  color: #00747a;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #eee;
    text-decoration-line: underline;
  }
}

.chapter-content {
  border: 1px;
  border-style: ridge;
  border-color: #dddddd;
  background-color: ghostwhite;
  padding: 10px;
  margin: 0 auto;
  border-top-style: hidden;
  display: block;
  overflow: hidden;
  width: 80%;

  &-hidden {
    display: none;
  }
}

.close-chapter {
  border-style: hidden;
  background-color: #ddd;
  padding: 10px;
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
  width: 98%;
  text-align: center;
  color: #00747a;
  &:hover {
    background-color: #eee;
    text-decoration-line: underline;
  }
}

.course-selector-box {
  background-image: linear-gradient(to bottom, $primary-color, $secondary-color);
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: $greenColor;
}

.trafficlight {
  &-container {
    height: 49px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
  }

  &-green {
    background-color: green;
    padding: 6px;
    font-size: 24px;
    position: relative;
    top: 10px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 0px 1px black;
  }
  &-green:hover {
    background: #009200;
    box-shadow: 1px 1px 0px 1px black;
  }

  &-yellow {
    background-color: yellow;
    padding: 6px;
    font-size: 24px;
    position: relative;
    top: 10px;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 0px 1px black;
  }
  &-yellow:hover {
    background-color: #e2ce00;
    box-shadow: 1px 1px 0px 1px black;
  }

  &-red {
    background-color: red;
    padding: 6px;
    font-size: 24px;
    position: relative;
    top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 1px black;
  }
  &-red:hover {
    background-color: #d20000;
    box-shadow: 1px 1px 0px 1px black;
  }
}

.clickable {
  cursor: pointer;
}

.mitenTehtavaMeni {
  text-align: center;
  margin-bottom: 10px;
}

.courseVersionSelectorContainer {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.scoreboard {
  overflow: scroll;

  &-light {
    &-green {
      height: 25px;
      width: 25px;
      background-color: green;
    }
    &-yellow {
      height: 25px;
      width: 25px;
      background-color: yellow;
    }
    &-red {
      height: 25px;
      width: 25px;
      background-color: red;
    }
    &-gray {
      height: 25px;
      width: 25px;
      background-color: gray;
    }
  }
}

.scoreboard table {
  border-spacing: 1px;
}

.scoreboard th {
  transform: rotate(270deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 16px;
  z-index: 1;
  text-align: left;
  margin-top: 14px;
  margin-left: -10px;
}

.dropdown-content a {
  color: black;
  padding: 2px 0px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  padding: 5px 5px;
  background-color: #f1f1f1;
}
