li {
  list-style-type: none;
}

span {
  display: inline;
  padding: 1px;
}

header {
  background-color: #f6f6f6;
  height: 160px;
  box-shadow: 0px 4px 0px 0px #666666;
}

ul {
  margin-top: 0px;
  margin-right: 0%;
  margin-bottom: 0px;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
}

li:hover {
  background: #61ce5a;
}

body {
  background: #7b7b7b12;
}

.course {
  display: inline-block;
  padding: 0px;
  width: 250px;
  margin: 10px;
  background: beige;
  text-align: left;

  &-title {
    color: white;
    background: #4fab53;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  &-parts {
    background: white;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #4fab53;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.courseList {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.hero {
  margin-bottom: 50px;

  &-content {
    text-align: center;
    font-size: 25px;
    border-radius: 22px;
    padding: 10px;
    background: #4fab53;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-left: 25%;
    width: 50%;
    position: absolute;
    top: 200px;
  }

  &-logo {
    position: absolute;
    margin-top: -45px;
    width: 300px;
  }
}

.navigator {
  background-color: #c4da87;
  text-align: right;

  &-item {
    display: inline-block;
    padding: 13px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #4fab53;
  }
}

.footer {
  background-color: white;
  display: flex;
  padding: 20px;
  height: 200px;
  margin-top: 100px;
  position: static;
  bottom: 0;

  .fb_link {
    position: relative;
    top: -32px;
    left: 45px;
  }

  .link {
    color: #4fab53;
    text-transform: none;
    text-shadow: none;
    margin-left: 5px;
  }
}
